<%- include('partials/header') %>

<h1>All Drivers</h1>
<ul>
  <% drivers.forEach(driver => { %>
    <li>
      <a href="/drivers/<%= driver.id %>">
        <%= driver.name %> (ID: <%= driver.id %>)
      </a>
    </li>
  <% }) %>
</ul>

<%- include('partials/footer') %>